
/*=============== HOME ===============*/

.home{
    background-color: var(--first-color);
}

.home__container{
  padding-block: 4rem 1rem;
  row-gap: 3rem;
}

.home__data{
  position: relative;
  text-align: center;
}

.home__title{
  font-size: var(--bigger-font-size);
  margin-bottom: .5rem;
}

.home__title span{
  color: var(--white-color);
}

.home__description {
  margin-bottom: 2rem;
} 

.home__dam-1,
.home__dam-2,
.home__dam-3,
.home__dam-4,
.home__dam-5{
  position: absolute;
}

.home__dam-1{
  width: 60px;
  top: 4.5rem;
  right: -1.5rem;
}

.home__dam-2{
  width: 80px;
  top: -3.5rem;
  left: -2.5rem;
}

.home__dam-3{
  width: 60px;
  top: -2rem;
  right: -1rem; 
}

.home__dam-4{
  width: 60px;
  bottom: -1.75rem;
  right: .75rem; 
}

.home__dam-5{
  width: 80px;
  top: 5rem;
  left: -2.5rem; 
}

.home__images{
  position: relative;
  justify-self: center;
}

.home__img{
  width: 280px;
  filter:var(--shadow-img) ;
}

/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  border-radius: .75rem;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .2);
}
